@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-fb:before {
  content: ""
}
._icon-insta:before {
  content: ""
}
._icon-linkedin:before {
  content: ""
}
._icon-twitter:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #21243d;
  line-height: 1;
  font-family: Heebo;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Heebo;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  padding: 5.625rem 0 0 0;
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  margin: 0 auto;
  max-width: 55.375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,53.5rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  background-color: #ff6464;
  border-radius: .125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.25rem;
  height: 2.9375rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 145%;
  transition: background-color .3s
}
.button--fw {
  width: 100%
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-size: 2.75rem;
  line-height: 136.363636%;
  font-weight: 700
}
.text p,
.work-detail__text p {
  font-size: 1rem;
  line-height: 143.75%
}
.text p:not(:last-child),
.work-detail__text p:not(:last-child) {
  margin-bottom: .625rem
}
.title-posts {
  padding: 0 1.25rem 0 0;
  font-size: 1.375rem
}
.header {
  position: relative;
  z-index: 100
}
.header__content {
  max-width: 65.5rem;
  margin: 0 auto;
  padding: 0 .625rem
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  height: 3.125rem;
  align-items: center;
  padding: .625rem 0
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center
}
.menu__link {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  transition: color .3s;
  position: relative
}
.menu__link._active {
  color: #ff6464
}
.menu__link::after {
  content: "";
  position: absolute;
  height: .125rem;
  background-color: #ff6464;
  top: 100%;
  left: 50%;
  width: 0;
  border-radius: .375rem;
  transition: all .3s;
  margin-top: .125rem
}
.footer {
  text-align: center;
  padding: 3.125rem 0 3.125rem 0
}
.footer__social:not(:last-child) {
  margin-bottom: 1.5625rem
}
.social {
  display: flex;
  justify-content: center;
  align-items: center
}
.social__item {
  font-size: 1.875rem;
  transition: color .3s
}
.social__item:not(:last-child) {
  margin-right: 1.5625rem
}
.hello__container {
  display: flex;
  padding: 2.375rem 0 4.375rem 0
}
.hello__content {
  flex: 1 1 auto;
  align-items: flex-start;
  padding: 1.125rem 6.875rem 0 0
}
.hello__content *:last-child {
  margin-bottom: 0
}
.hello__title {
  margin-bottom: 1.5625rem
}
.hello__text {
  margin-bottom: 2.1875rem
}
.hello__btn {
  margin-bottom: 1.5625rem
}
.hello__avatar {
  flex: 0 0 15.1875rem;
  height: 15.1875rem;
  border-radius: 50%;
  overflow: hidden
}
.hello__avatar img {
  max-width: 100%
}
.recent-posts {
  background-color: #edf7fa;
  padding: 1.5625rem 0 .8125rem 0
}
.recent-posts__header {
  display: flex;
  margin-bottom: 1.25rem
}
.recent-posts__title {
  flex: 1 1 auto
}
.recent-posts__view-all {
  flex: 0 0 auto;
  color: #00a8cc;
  font-size: 16px;
  line-height: 143.75%;
  transition: all .3s
}
.recent-posts__items {
  margin: 0 -.625rem
}
.recent-posts__column {
  flex: 0 1 50%;
  padding: 0 .625rem;
  margin: 0 0 1.0625rem 0
}
.recent-post {
  box-shadow: 0 4px 10px 0 rgba(187,225,250,.25);
  background: #fff;
  border-radius: .25rem;
  padding: 1.25rem;
  height: 100%
}
.recent-post *:last-child {
  margin-bottom: 0
}
.recent-post__title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 146.153846%;
  transition: color .3s;
  margin: 0 0 1.0625rem 0
}
.recent-post__info {
  font-size: 1.125rem;
  line-height: 144.444444%;
  margin: 0 0 .9375rem 0
}
.recent-post__info span {
  margin: 0 .625rem
}
.recent-post__text p {
  margin-bottom: .9375rem
}
.featured-works {
  padding: 1.875rem 0 1.875rem 0
}
.featured-works__title {
  margin: 0 0 1.25rem 0
}
.featured-works__items .works__item {
  flex: 0 0 90%
}
.featured-works__items .works__item:not(:last-child) {
  margin-right: .9375rem
}
.works__title:not(:last-child) {
  margin-bottom: 2.8125rem
}
.works__items {
  padding-bottom: 2.8125rem
}
.works__item {
  border-bottom: .0625rem solid #e0e0e0;
  padding: 0 0 1.875rem 0
}
.works__item:last-child {
  margin-bottom: 0
}
.works__image {
  display: block;
  margin-bottom: 1.0625rem;
  aspect-ratio: 246/180;
  border-radius: .375rem;
  overflow: hidden
}
.works__body {
  flex: 1 1 auto
}
.works__title-link {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 146.666667%;
  display: inline-block;
  margin: 0 0 .9375rem 0;
  transition: color .3s
}
.works__info {
  display: flex;
  align-items: center;
  margin: 0 0 .9375rem 0
}
.works__year {
  background-color: #142850;
  color: #fff;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  padding: 0 .625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.125rem
}
.works__category {
  color: #8695a4;
  font-size: 1.25rem;
  margin: 0 0 0 1.5625rem
}
.blog {
  padding-bottom: 3.125rem
}
.blog__title {
  margin: 0 0 3.125rem 0
}
.blog__item {
  border-bottom: .0625rem solid #e0e0e0;
  padding-bottom: 1.875rem
}
.blog__item:not(:last-child) {
  margin-bottom: 1.875rem
}
.blog__title-link {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 146.666667%;
  transition: color .3s;
  margin-bottom: .625rem
}
.blog__info {
  display: flex;
  font-size: 1.25rem;
  margin-bottom: .9375rem
}
.blog__separator {
  margin: 0 .9375rem
}
.blog__category {
  color: #8695a4
}
.work-detail {
  max-width: 43.75rem;
  padding: 0 .625rem 1.875rem;
  margin: 0 auto
}
.work-detail__title {
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 147.058824%;
  margin: 0 0 1.875rem 0
}
.work-detail__info {
  display: flex;
  margin: 0 0 1.4375rem 0
}
.work-detail__year {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7c7c;
  height: 1.5625rem;
  color: #fff;
  border-radius: 1rem;
  padding: 0 .625rem;
  font-size: 1.125rem;
  font-weight: 900
}
.work-detail__category {
  font-size: 1.25rem;
  margin: 0 0 0 1.5625rem;
  line-height: 125%;
  align-self: center
}
.work-detail__text img {
  max-width: 100%
}
.work-detail__text img:not(:last-child) {
  margin-bottom: 1.25rem
}
@media (min-width:29.99875em) {
  .menu__item:not(:last-child) {
    margin-right: 2.0625rem
  }
}
@media (min-width:37.5em) {
  .featured-works {
    padding: 1.875rem 0 5rem 0
  }
  .works__item {
    display: flex;
    align-items: flex-start;
    margin: 0 0 1.875rem 0
  }
  .works__image {
    flex: 0 0 15.375rem;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    overflow: hidden;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
  }
  .works__body {
    padding: 0 0 0 1.25rem
  }
}
@media (min-width:37.5em)and (any-hover:hover) {
  .works__image:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
  }
}
@media (min-width:47.99875em) {
  .recent-posts__items {
    display: flex
  }
}
@media (min-width:61.99875em) {
  .social__item:hover {
    color: #ff6464
  }
  .recent-post__title:hover {
    color: #ff6464
  }
}
@media (max-width:61.99875em) {
  [class*=__container] {
    max-width: 46.875rem
  }
  .hello__container {
    padding: 0 0 4.375rem 0
  }
  .hello__content {
    padding: 1.125rem 3.125rem 0 0
  }
}
@media (max-width:55.375em) {
  [class*=__container] {
    max-width: 60.625rem
  }
}
@media (max-width:47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 .9375rem
  }
  .hello__container {
    text-align: center;
    flex-direction: column-reverse
  }
  .hello__content {
    padding: 0 .625rem 0 .625rem
  }
  .hello__avatar {
    margin-bottom: 2.5rem
  }
  .blog {
    padding-bottom: 1.875rem
  }
}
@media (max-width:40.625em) {
  .works__title-link {
    font-size: 1.5rem
  }
}
@media (max-width:37.5em) {
  .featured-works__items {
    display: flex;
    overflow: auto
  }
  .works__year {
    font-size: 1rem
  }
  .works__category {
    font-size: 1rem
  }
}
@media (max-width:29.99875em) {
  .wrapper>main {
    padding: 1.875rem 0 0 0
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 4.375rem .9375rem 1.875rem .9375rem;
    background-color: rgba(255,255,255,.95);
    transition: left .5s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .5s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .title {
    font-size: 2rem
  }
  .title-posts {
    text-align: center;
    font-size: 1.125rem
  }
  .menu__list {
    display: block;
    text-align: center
  }
  .menu__item {
    margin-bottom: 1.5625rem
  }
  .menu__link {
    font-size: 2.375rem
  }
  .footer {
    padding: .9375rem 0 1.5625rem 0
  }
  .footer__social:not(:last-child) {
    margin-bottom: .9375rem
  }
  .hello__container {
    padding: 0 0 3.75rem 0
  }
  .hello__title {
    margin-bottom: 1.25rem
  }
  .hello__text {
    margin-bottom: 1.5625rem
  }
  .hello__btn {
    margin-bottom: 1.25rem
  }
  .hello__avatar img {
    height: 10.625rem
  }
  .hello__avatar {
    flex: 0 0 10.625rem;
    height: 10.625rem
  }
  .recent-posts {
    padding: 1.5625rem 0 1.4375rem 0
  }
  .recent-posts__view-all {
    display: none
  }
  .recent-post {
    padding: .625rem
  }
  .recent-post__title {
    font-size: 1.375rem
  }
  .recent-post__info {
    font-size: 1rem
  }
  .works__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .works {
    padding-bottom: .9375rem
  }
  .blog__title {
    margin: 0 0 1.25rem 0
  }
  .blog__item {
    padding-bottom: 1.25rem
  }
  .blog__item:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .blog__title-link {
    font-size: 1.5rem
  }
  .blog__info {
    font-size: 1.125rem
  }
  .blog__separator {
    margin: 0 .625rem
  }
  .work-detail__title {
    font-size: 1.875rem
  }
  .work-detail__category {
    font-size: 1.125rem
  }
}
@media (max-width:29.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:21.875em) {
  .works__title-link {
    font-size: 1.25rem
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #bd4a4a
  }
  .menu__link:hover {
    color: #ff6464
  }
  .menu__link:hover::after {
    left: 0;
    width: 100%
  }
  .recent-posts__view-all:hover {
    text-decoration: underline;
    color: #ff6464
  }
  .works__title-link:hover {
    color: #ff6464
  }
  .blog__title-link:hover {
    color: #ff6464
  }
}