@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500&display=swap");@import url("https://fonts.googleapis.com/css?family=Arsenal:regular,italic&display=swap");@import url("https://fonts.googleapis.com/css?family=Merriweather:300italic&display=swap");@import url("https://fonts.googleapis.com/css?family=Raleway:300italic&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?d07fce4224cbbce693573df6364962a1") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-whatsapp"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-twitch"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-tiktok"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-twitter"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-insta"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-pinterest"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-envelope"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-dribbble"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-chain"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-behance"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f112"; 
	} 




/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: rgba(218, 197, 167, 0.6);
  font-family: "Open Sans", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  background-color: #0e0e0e;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
[class*="--arrow-dwn"]::before {
  transform: rotate(180deg);
}
[class*="--arrow-l"]::before {
  transform: rotate(-90deg);
}
[class*="--arrow-r"]::before {
  transform: rotate(90deg);
}
[class*="--arrow-45ru"]::before {
  transform: rotate(45deg);
  transition: transform 0.3s;
}
[class*="--arrow-45lu"]::before {
  transform: rotate(-45deg);
}
[class*="--arrow-45rd"]::before {
  transform: rotate(135deg);
  transition: transform 0.3s;
}
[class*="--arrow-45ld"]::before {
  transform: rotate(-135deg);
}/* Generated by vite-plugin-svg-spritemap */
.solution {
  background-color: rgba(218, 197, 167, 0.05);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  border-radius: 0.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.solution > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.solution:before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  margin-bottom: 0.5rem;
}
.solution__title {
  font-family: "Arsenal";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #f9efe1;
  position: relative;
}
.solution__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.03125rem;
  background-color: #f9efe1;
  bottom: 0;
  left: 0;
}
.solution__text {
  flex-grow: 1;
  line-height: 1.8;
}
.solution__text:not(:last-child) {
  margin-bottom: 2rem;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1875rem 1.25rem;
}
.menu__link {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  color: #dac5a7;
  position: relative;
  transition: color 0.3s;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.03125rem;
  background-color: #dac5a7;
  bottom: 0;
  left: 50%;
  transition: width 0.3s, left 0.3s;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.articles__container {
  font-size: 1.375rem;
  margin: 0 auto;
}
.articles__label {
  line-height: 1.2;
}
.articles__label span {
  font-size: 1.125rem;
}
.articles__label:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.articles__title {
  color: #dac5a7;
}
.masonry__filter:not(:last-child) {
  margin-bottom: 1.25rem;
}
.masonry__items {
  margin: 0 auto;
  transition: all 0.3s;
}
.masonry__item {
  width: 25rem;
}

.filter-masonry {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5625rem;
  row-gap: 0.3125rem;
  flex-wrap: wrap;
}
.filter-masonry__link {
  font-size: 0.875rem;
  line-height: 2;
  color: rgba(218, 197, 167, 0.6);
  transition: color 0.3s;
}
.filter-masonry__link.--active {
  color: #f9efe1;
  text-decoration: underline;
}

.up {
  position: fixed;
  bottom: 1.25rem;
  color: #dac5a7;
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 2;
  transition: all 0.3s;
}
.up::before {
  transition: all 0.3s;
}
.--watcher-view .up {
  opacity: 0;
  visibility: hidden;
}
.work__image {
  display: block;
  position: relative;
  border-radius: 0.1875rem;
  overflow: hidden;
}
.work__image img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.3s;
}
.work__body {
  display: grid;
  gap: 0.9375rem;
}
.work__date {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
}
.work__title {
  font-family: "Arsenal";
}
.work__link-title {
  color: #dac5a7;
  line-height: 1.5;
  transition: color 0.3s;
}
.work__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0.9375rem;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: none;
}
.header__container {
  pointer-events: auto;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  position: relative;
}
.header__body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  border-radius: 0.125rem;
  background-color: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  z-index: 2;
}
.header__logo, .header__link-logo {
  font-family: "Arsenal";
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.09375rem;
  text-transform: capitalize;
  color: #dac5a7;
}
.header__logo, .header__link-logo, .header__button {
  position: relative;
  z-index: 4;
}/* Generated by vite-plugin-svg-spritemap */
.footer__container {
  padding-block: 1.875rem;
  text-align: center;
}
.footer__contacts {
  display: grid;
  gap: 1.875rem;
}
.footer__title {
  font-size: 1.75rem;
  font-family: "Arsenal";
  color: #dac5a7;
}
.footer__text p {
  line-height: 1.2;
}
.footer__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__text-link {
  text-decoration: underline rgba(249, 239, 225, 0);
  transition: all 0.3s;
}
.footer__text-link img {
  transition: transform 0.3s;
}
.footer__text-link span {
  font-size: 0.875rem;
  font-weight: 600;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  font-family: "Satoshi", sans-serif;
  display: inline-flex;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  color: #dac5a7;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  transition: all 0.5s;
}
.button--light {
  background-color: #dac5a7;
  color: #0e0e0e;
}
.button--icon {
  flex-direction: row-reverse;
  gap: 0.75rem;
  align-items: center;
}
.button--text {
  padding: 0;
  background-color: transparent;
  border: none;
  gap: 0.75rem;
}
.button--text::before {
  width: 2rem;
  height: 2rem;
  text-align: center;
  align-content: center;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  border-radius: 50%;
  transition: all 0.5s;
}
.button--fw {
  width: 100%;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.item {
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: #181715;
  border-radius: 0.125rem;
  position: relative;
}
.item > * {
  margin-bottom: 1rem;
}
.item__time {
  position: absolute;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: #181715;
  border-radius: 0.125rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #dac5a7;
  margin-bottom: 0rem;
}
.item__label {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
.item__title {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #f9efe1;
  position: relative;
}
.item__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.03125rem;
  background-color: #f9efe1;
  bottom: 0;
  left: 0;
}
.item__text {
  line-height: 1.8;
}
.item__list {
  color: #dac5a7;
  line-height: 1.8;
}
.item__paragraph {
  position: relative;
  padding-left: 1.25rem;
}
.item__paragraph::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background-color: #dac5a7;
  border-radius: 50%;
  position: absolute;
  top: 0.875rem;
  left: 0;
}
.item > *:last-child {
  margin-bottom: 0rem;
}/* Generated by vite-plugin-svg-spritemap */
.blockhead {
  text-align: center;
  display: grid;
  justify-items: center;
  text-wrap: balance;
}
.blockhead--gap-8 {
  gap: 0.5rem;
}
.blockhead__label, .blockhead__title {
  max-width: 68.75rem;
  color: #dac5a7;
}
.blockhead__label {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.12em;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.blockhead__title {
  line-height: 1.2;
  color: #dac5a7;
}
.blockhead__title span {
  font-family: "Arsenal";
  display: block;
  font-style: italic;
  font-weight: 300;
}
.blockhead__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.blockhead__text {
  line-height: 1.7;
  max-width: 43.75rem;
}
.blockhead__text--size-18 {
  font-size: 1.125rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.hero__container {
  min-height: 100svh;
  text-align: center;
  display: grid;
  align-content: center;
}
.hero__image {
  width: 100vw;
  height: 55svh;
  object-fit: contain;
  mix-blend-mode: lighten;
}
.hero__blockhead {
  translate: 0 -20%;
}

.introduction {
  min-height: 100svh;
}
.introduction__header {
  position: relative;
  text-align: center;
}
.introduction__picture {
  display: inline-block;
  background-color: #0e0e0e;
}
.introduction__image {
  height: 55svh;
  object-fit: contain;
  mix-blend-mode: lighten;
}
.introduction__body {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}
.introduction__title {
  flex: 1 1 6.25rem;
  font-weight: 400;
  color: #dac5a7;
  line-height: 1.1;
}
.introduction__title span {
  font-family: "Arsenal";
}
.introduction__content {
  flex: 1 1 6.25rem;
}
.introduction__text {
  line-height: 1.6;
  font-size: 1.125rem;
}

.name-introduction {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
}
.name-introduction__item {
  margin-right: 55%;
  font-style: italic;
  font-weight: 300;
  color: #dac5a7;
}
.name-introduction__item span {
  font-family: "Arsenal";
  font-style: normal;
}

.solutions {
  counter-reset: item;
}
.solutions__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(21.875rem, 100%), 1fr));
  gap: 2rem;
}

.process {
  counter-reset: item;
}
.items-process__header {
  position: relative;
  display: grid;
  grid-template-rows: 2.875rem 1fr;
  gap: 1rem;
  justify-items: center;
}
.items-process__header::after {
  content: "";
  height: 100%;
  width: 0.0625rem;
  background-color: rgba(218, 197, 167, 0.15);
  translate: 0.03125rem 0rem;
}
.items-process__arrow {
  width: 2.875rem;
  aspect-ratio: 1;
  text-align: center;
  align-content: center;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
  border-radius: 50%;
}
.items-process__body {
  display: flex;
  flex-direction: column;
}
.item-process {
  position: relative;
}
.item-process::before {
  content: "";
  position: absolute;
  background-color: rgba(218, 197, 167, 0.15);
  width: 0.0625rem;
  height: 100%;
  left: 0rem;
}
.item-process::after {
  left: 0;
  translate: -50% -50%;
  position: absolute;
  top: 50%;
  z-index: 2;
  counter-increment: item;
  letter-spacing: 0.09375rem;
  font-size: 0.8125rem;
  color: #dac5a7;
  line-height: 1.6;
  content: counter(item, decimal-leading-zero);
  width: 2.5rem;
  height: 2.5rem;
  outline: 1rem solid #0e0e0e;
  text-align: center;
  align-content: center;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: #181715;
  border-radius: 50%;
}
.item-process:last-child::before {
  height: 50%;
}
@media (max-width: 61.99875em){
  .introduction__body {
    flex-direction: column;
  }
  .name-introduction__item {
    margin-right: 10%;
  }
  .items-process__header::after {
    translate: -0.21875rem 0rem;
  }
  .items-process__header {
    display: none;
  }
  .items-process__arrow {
    width: 2.5rem;
    translate: -0.15625rem 0rem;
  }
  .item-process::before {
    display: none;
  }
  .item-process::after {
    display: none;
  }
  .item-process:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 53.6875em) and (min-width: 89.375em){
  .work {
    row-gap: 1.125rem;
  }
}
@media (max-width: 53.6875em) and (max-width: 20em){
  .work {
    row-gap: 0.75rem;
  }
}
@media (max-width: 53.6875em){
  .work {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-height: 53.125em) and (max-width: 20em){
  .blockhead__title--size-130 {
    font-size: 2.8125rem;
  }
}
@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em){
  .menu {
    flex-grow: 1;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 10rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color: rgba(14, 14, 14, 0.8);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    row-gap: 1.875rem;
    flex-direction: column;
    align-items: flex-end;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #dac5a7;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}
@media (max-width: 29.99875em){
  .solution__text {
    text-align: justify;
  }
  .item__label {
    padding-right: 4.375rem;
  }
  .item__label span {
    display: block;
  }
  .item__text {
    text-align: justify;
  }
  .introduction__text {
    text-align: justify;
  }
}
@media (max-width: 26.875em){
  .masonry__items {
    width: auto !important;
  }
  .masonry__item {
    width: 100%;
  }
}
@media (max-width: 20em){
  .solution {
    padding: 0.9375rem;
  }
  .articles {
    padding-top: 1.25rem;
  }
  .articles {
    padding-bottom: 1.25rem;
  }
  .articles__title {
    margin-bottom: 1.5625rem;
  }
  .masonry__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  .up {
    font-size: 1rem;
  }
  .up {
    right: 0.625rem;
  }
  .work__image {
    margin-bottom: 1.25rem;
  }
  .header__body {
    gap: 0.9375rem;
  }
  .header__logo, .header__link-logo {
    font-size: 1.375rem;
  }
  .item {
    padding: 1.25rem;
  }
  .item {
    padding-left: 0.625rem;
  }
  .item {
    padding-right: 0.625rem;
  }
  .item__time {
    top: 0.625rem;
  }
  .item__time {
    right: 0.625rem;
  }
  .item__text {
    margin-bottom: 0.625rem;
  }
  .item__paragraph:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
  .blockhead {
    gap: 0.5rem;
  }
  .blockhead__title {
    font-size: 2.8125rem;
  }
  .blockhead__title--size-80 {
    font-size: 2.375rem;
  }
  .blockhead__title--size-96 {
    font-size: 2.375rem;
  }
  .blockhead__title--size-130 {
    font-size: 2.8125rem;
  }
  .blockhead__text {
    font-size: 0.9375rem;
  }
  .blockhead__text--size-18 {
    font-size: 0.875rem;
  }
  .blockhead__text--size-22 {
    font-size: 1rem;
  }
  .hero {
    padding-block: 6.25e-8rem;
  }
  .introduction {
    padding-top: 1.875rem;
  }
  .introduction {
    padding-bottom: 3.125rem;
  }
  .introduction__header {
    margin-bottom: 0.625rem;
  }
  .introduction__body {
    column-gap: 1.25rem;
  }
  .introduction__title {
    font-size: 1.625rem;
  }
  .name-introduction {
    font-size: 2.1875rem;
  }
  .solutions {
    margin-bottom: 3.75rem;
  }
  .process {
    padding-bottom: 1.25rem;
  }
  .process__blockhead {
    margin-bottom: 1.5625rem;
  }
  .items-process__header {
    height: 1.25rem;
  }
}
@media (max-width: 53.6875em) and (min-width: 20em) and (max-width: 89.375em){
  .work {
    row-gap: clamp( 0.75rem , 0.64189189189375rem  +  0.5405405405vw , 1.125rem );
  }
}
@media (max-height: 53.125em) and (min-width: 89.375em){
  .blockhead__title--size-130 {
    font-size: 8rem;
  }
}
@media (max-height: 53.125em) and (min-width: 20em) and (max-width: 89.375em){
  .blockhead__title--size-130 {
    font-size: clamp( 2.8125rem , 1.31700450450625rem  +  7.4774774775vw , 8rem );
  }
}
@media (min-width: 20em) and (max-width: 89.375em){
  .solution {
    padding: clamp( 0.9375rem , 0.34290540540625rem  +  2.972972973vw , 3rem );
  }
  .articles {
    padding-top: clamp( 1.25rem , 0.52927927928125rem  +  3.6036036036vw , 3.75rem );
  }
  .articles {
    padding-bottom: clamp( 1.25rem , 0.52927927928125rem  +  3.6036036036vw , 3.75rem );
  }
  .articles__title {
    margin-bottom: clamp( 1.5625rem , 1.2021396396375rem  +  1.8018018018vw , 2.8125rem );
  }
  .masonry__item:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.60472972973125rem  +  1.3513513514vw , 2.8125rem );
  }
  .up {
    font-size: clamp( 1rem , 0.927927927925rem  +  0.3603603604vw , 1.25rem );
  }
  .up {
    right: clamp( 0.625rem , -0.09572072071875rem  +  3.6036036036vw , 3.125rem );
  }
  .work__image {
    margin-bottom: clamp( 1.25rem , 1.06981981981875rem  +  0.9009009009vw , 1.875rem );
  }
  .header__body {
    gap: clamp( 0.9375rem , 0.63119369369375rem  +  1.5315315315vw , 2rem );
  }
  .header__logo, .header__link-logo {
    font-size: clamp( 1.375rem , 1.3389639639625rem  +  0.1801801802vw , 1.5rem );
  }
  .item {
    padding: clamp( 1.25rem , 0.74549549549375rem  +  2.5225225225vw , 3rem );
  }
  .item {
    padding-left: clamp( 0.625rem , -0.0596846846875rem  +  3.4234234234vw , 3rem );
  }
  .item {
    padding-right: clamp( 0.625rem , -0.0596846846875rem  +  3.4234234234vw , 3rem );
  }
  .item__time {
    top: clamp( 0.625rem , 0.44481981981875rem  +  0.9009009009vw , 1.25rem );
  }
  .item__time {
    right: clamp( 0.625rem , 0.44481981981875rem  +  0.9009009009vw , 1.25rem );
  }
  .item__text {
    margin-bottom: clamp( 0.625rem , 0.22860360360625rem  +  1.981981982vw , 2rem );
  }
  .item__paragraph:not(:last-child) {
    margin-bottom: clamp( 0.3125rem , 0.1143018018rem  +  0.990990991vw , 1rem );
  }
  .blockhead {
    gap: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead__title {
    font-size: clamp( 2.8125rem , 1.31700450450625rem  +  7.4774774775vw , 8rem );
  }
  .blockhead__title--size-80 {
    font-size: clamp( 2.375rem , 1.61824324324375rem  +  3.7837837838vw , 5rem );
  }
  .blockhead__title--size-96 {
    font-size: clamp( 2.375rem , 1.32995495495625rem  +  5.2252252252vw , 6rem );
  }
  .blockhead__title--size-130 {
    font-size: clamp( 2.8125rem , 1.28096846846875rem  +  7.6576576577vw , 8.125rem );
  }
  .blockhead__text {
    font-size: clamp( 0.9375rem , 0.8474099099125rem  +  0.4504504505vw , 1.25rem );
  }
  .blockhead__text--size-18 {
    font-size: clamp( 0.875rem , 0.802927927925rem  +  0.3603603604vw , 1.125rem );
  }
  .blockhead__text--size-22 {
    font-size: clamp( 1rem , 0.89189189189375rem  +  0.5405405405vw , 1.375rem );
  }
  .hero {
    padding-block: clamp( 6.25e-8rem , -0.90090082038125rem  +  4.5045044144vw , 3.125rem );
  }
  .introduction {
    padding-top: clamp( 1.875rem , 1.5146396396375rem  +  1.8018018018vw , 3.125rem );
  }
  .introduction {
    padding-bottom: clamp( 3.125rem , -0.11824324324375rem  +  16.2162162162vw , 14.375rem );
  }
  .introduction__header {
    margin-bottom: clamp( 0.625rem , -0.09572072071875rem  +  3.6036036036vw , 3.125rem );
  }
  .introduction__body {
    column-gap: clamp( 1.25rem , 0.45720720720625rem  +  3.963963964vw , 4rem );
  }
  .introduction__title {
    font-size: clamp( 1.625rem , 1.40878378378125rem  +  1.0810810811vw , 2.375rem );
  }
  .name-introduction {
    font-size: clamp( 2.1875rem , 1.3766891891875rem  +  4.0540540541vw , 5rem );
  }
  .solutions {
    margin-bottom: clamp( 3.75rem , 1.89414414414375rem  +  9.2792792793vw , 10.1875rem );
  }
  .process {
    padding-bottom: clamp( 1.25rem , 0.16891891891875rem  +  5.4054054054vw , 5rem );
  }
  .process__blockhead {
    margin-bottom: clamp( 1.5625rem , 1.1480855855875rem  +  2.0720720721vw , 3rem );
  }
  .items-process__header {
    height: clamp( 1.25rem , -1.2364864864875rem  +  12.4324324324vw , 9.875rem );
  }
}
@media (min-width: 47.99875em){
  .menu__body {
    position: relative;
    z-index: 5;
  }
  .header {
    top: 3rem;
    display: flex;
    justify-content: center;
  }
  .header__body {
    padding-left: 1.5rem;
  }
  .header__body {
    display: flex;
    justify-content: center;
  }
  .introduction__title span {
    display: block;
  }
}
@media (min-width: 61.99875em) and (min-width: 89.375em){
  .item-process:nth-child(even) {
    padding-right: 6.21875rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 61.99875em) and (max-width: 89.375em){
  .item-process:nth-child(even) {
    padding-right: clamp( 2.5rem , -5.92182006529375rem  +  13.5838546185vw , 6.21875rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 89.375em){
  .item-process {
    padding-left: clamp( 2.5rem , -5.92182006529375rem  +  13.5838546185vw , 6.21875rem );
  }
}
@media (min-width: 61.99875em){
  .item-process {
    width: 50%;
    align-self: flex-end;
  }
  .item-process:not(:first-child) {
    margin-top: -3.125rem;
  }
  .item-process:nth-child(even) {
    padding-left: 0;
    align-self: flex-start;
  }
  .item-process:nth-child(even)::before {
    left: auto;
    right: -0.0625rem;
  }
  .item-process:nth-child(even)::after {
    left: auto;
    right: 0;
    translate: 50% -50%;
  }
}
@media (min-width: 89.375em){
  .solution {
    padding: 3rem;
  }
  .articles {
    padding-top: 3.75rem;
  }
  .articles {
    padding-bottom: 3.75rem;
  }
  .articles__title {
    margin-bottom: 2.8125rem;
  }
  .masonry__item:not(:last-child) {
    margin-bottom: 2.8125rem;
  }
  .up {
    font-size: 1.25rem;
  }
  .up {
    right: 3.125rem;
  }
  .work__image {
    margin-bottom: 1.875rem;
  }
  .header__body {
    gap: 2rem;
  }
  .header__logo, .header__link-logo {
    font-size: 1.5rem;
  }
  .item {
    padding: 3rem;
  }
  .item {
    padding-left: 3rem;
  }
  .item {
    padding-right: 3rem;
  }
  .item__time {
    top: 1.25rem;
  }
  .item__time {
    right: 1.25rem;
  }
  .item__text {
    margin-bottom: 2rem;
  }
  .item__paragraph:not(:last-child) {
    margin-bottom: 1rem;
  }
  .blockhead {
    gap: 1rem;
  }
  .blockhead__title {
    font-size: 8rem;
  }
  .blockhead__title--size-80 {
    font-size: 5rem;
  }
  .blockhead__title--size-96 {
    font-size: 6rem;
  }
  .blockhead__title--size-130 {
    font-size: 8.125rem;
  }
  .blockhead__text {
    font-size: 1.25rem;
  }
  .blockhead__text--size-18 {
    font-size: 1.125rem;
  }
  .blockhead__text--size-22 {
    font-size: 1.375rem;
  }
  .hero {
    padding-block: 3.125rem;
  }
  .introduction {
    padding-top: 3.125rem;
  }
  .introduction {
    padding-bottom: 14.375rem;
  }
  .introduction__header {
    margin-bottom: 3.125rem;
  }
  .introduction__picture {
    box-shadow: 0 0 1.875rem 1.875rem rgb(14, 14, 14);
    position: relative;
    z-index: 2;
  }
  .introduction__body {
    column-gap: 4rem;
  }
  .introduction__title {
    font-size: 2.375rem;
  }
  .name-introduction {
    font-size: 5rem;
  }
  .solutions {
    margin-bottom: 10.1875rem;
  }
  .process {
    padding-bottom: 5rem;
  }
  .process__blockhead {
    margin-bottom: 3rem;
  }
  .items-process__header {
    height: 9.875rem;
  }
  .item-process {
    padding-left: 6.21875rem;
  }
}
@media (any-hover: hover){
  [class*="--arrow-45ru"]:hover::before {
    transform: rotate(90deg);
  }
  [class*="--arrow-45rd"]:hover::before {
    transform: rotate(90deg);
  }
  .menu__link:hover {
    color: #f9efe1;
  }
  .menu__link:hover::after {
    width: 100%;
    left: 0;
    background-color: #f9efe1;
  }
  .filter-masonry__link:hover {
    color: #f9efe1;
  }
  .up:hover {
    background-color: #dac5a7;
  }
  .up:hover::before {
    color: #0e0e0e;
  }
  .work__image img:hover {
    transform: scale(1.03);
  }
  .work__link-title:hover {
    color: #f9efe1;
  }
  .footer__text-link:hover {
    color: #f9efe1;
    text-decoration: underline rgb(249, 239, 225);
  }
  .footer__text-link img:hover {
    transform: scale(1.1);
  }
  .button:hover {
    background-color: #dac5a7;
    color: #0e0e0e;
  }
  .button--light:hover {
    background-color: rgba(218, 197, 167, 0.05);
    color: #dac5a7;
  }
  .button--text:hover {
    background-color: transparent;
    color: #dac5a7;
  }
  .button--text:hover::before {
    background-color: #dac5a7;
    color: #0e0e0e;
  }
}